
@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Frijole|KoHo|Mina&display=swap');

:root {
    --color-background-1: #E6E6EA;
    --color-background-2: #FFFBFF;
    --color-blue: #009FB7;
    --color-yellow: #FED766;
    --color-red: #FE4A49;
    --color-text: #272D2D;

    --text-font-1: 'KoHo', sans-serif;
    --text-font-2: 'Mina', sans-serif;
    --header-font-1: 'Frijole', cursive;
    --header-font-2:'Fontdiner Swanky', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    color: var(--color-text);
    background-color: var(--color-background-2);
    font-family: var(--text-font-1);
}

h1 {
    font-size:30px;
    font-family: var(--header-font-2);
    padding:10px;
    color: var(--color-text);
}

#pre-img-txt {
    color: var(--color-blue);
}

.sampleUrl {
    padding:7px;
}

#urlbox {
    text-align: center;
    margin: 0 auto;
}

.header {
    width:100%;
    height:25%;
    padding: 50px;
    text-align: center;
}

.main {
    width: 100%;
    height:75%;
    padding: 50px;
    text-align: center;
    display: flex;
}

#go {
    background-color: var(--color-yellow);
    color: var(--color-text);
    padding:5px;
    font-size:20px;
    border-radius: 25% 25%;
    border: none;
}

input:focus {
    outline:none;
}

#imgUrl {
    background-color:transparent;
    border: 0px solid;
    border-bottom: 1px solid var(--color-blue);
    padding: 5px;
    width: 40%;
}

#reset {
    background-color: var(--color-red);
    color: var(--color-background-1);
    font-size:20px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    width: 30%;
}

.controls {
    width: 30%;
    padding: 20px;
    margin: 0 auto;
    margin-top: -30px;
}

.controls h2 {
    font-family: var(--header-font-2);
}

.img-section {
    width: 60%;
    background-color: var(--color-background-1);
    object-fit: contain;
    padding: 15px;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 40px 20px -6px black;
	-moz-box-shadow: 0 8px 20px -6px black;
	box-shadow: 0 8px 20px -6px black;
}

img {
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

.img-section h2 {
    text-align: center;
    position: relative;
    top: 40%;
}

ul {
    list-style: none;
}


/* --- START MEDIA QUERIES --- */


@media (min-width: 450px) and (max-width: 830px) {
    .main {
        display: block;
        height: auto;
        width: 100%;
    }

    body {
        height: auto;
        width: 100%;
    }
    

    .header {
        padding: 20px;
        height: 15%;
    }

    .controls {
        width: 100%;
    }

    .img-section {
        width: 100%;
        height: 500px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size:18px;
    }

    #go {
        font-size: 16px;
    }

    .controls h2 {
        padding-bottom: 10px;
    }

}

@media (max-width: 419px) {
    .main {
        display: block;
        height: auto;
        width: 100%;
    }

    body {
        height: auto;
        width: 100%;
    }
    

    .header {
        padding: 20px;
        height: 15%;
    }

    .controls {
        width: 100%;
    }

    .img-section {
        width: 100%;
        height: 300px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size:18px;
    }

    #go {
        font-size: 16px;
    }

    .controls h2 {
        padding-bottom: 10px;
    }

}


/* ---control styles--- */

input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: var(--color-yellow);
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: var(--color-blue);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: var(--color-blue);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: var(--color-blue);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
  }